{% extends 'TODO/base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h4>Completed Todo's</h4>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <div class="list-group">
            {% for item in todos %}
            <a href="{% url 'viewtodo' item.id %}" class="list-group-item list-group-item-action{% if item.important %} list-group-item-danger{% endif %}"><b>{{ item.title }}</b> - Completed {{ item.datecompleted|date:'M j Y H:i' }}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}