{% extends 'TODO/base.html' %}

{% block content %}

{% if error_msg %}
    {{ error_msg }}
{% endif %}

<p></p>
{{ todo.title_short }}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update!</button>
</form>

<form action="{% url 'completetodo' todo_pk=todo.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Mark as completed</button>
</form>

<form action="{% url 'deletetodo' todo_pk=todo.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Detele item</button>
</form>

{% endblock %}